{% extends 'cartography_base.html' %}

{% load static %}  <!-- Load the static tag library -->

{% block title %}
    Cartography Commission
{% endblock %}

{% block content %}
    <h1>Welcome to the United Nations Cartography Commission</h1>
    
    <p>This section of the website aims to replace the historical maps found in the UN Records Document below. This is still under construction.</p>
    
    <ul>
        <li><a href="https://docs.google.com/document/d/10xtooDJzp5dQ9XUCccsWqtzG-gqHBvcr7gf0sgUIs-k/edit?usp=sharing" target="_blank">United Nations Official Records Document</a></li>
    </ul>


    <img src="{% static 'images/un_seal.png' %}" alt="United Nations Seal" width="400" height="auto">
{% endblock %}
