{% extends 'cartography_base.html' %}

{% block title %}Historical Maps{% endblock %}

{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/records_styles.css' %}">
<link rel="stylesheet" href="{% static 'css/cartography_styles.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Official United Nations Maps</h1>
    <hr>
    <div class="header-filter-buttonsss">
        <a href="?type=Official" class="header-filter-button {% if current_type == 'Official' %}active{% endif %}">
            Official
        </a>

        <a href="?type=FarColony" class="header-filter-button {% if current_type == 'FarColony' %}active{% endif %}">
            Far Colony
        </a>

        <a href="?type=Territory" class="header-filter-button {% if current_type == 'Territory' %}active{% endif %}">
            Recognized Territories
        </a>

        <a href="?type=Infrastructure" class="header-filter-button {% if current_type == 'Infrastructure' %}active{% endif %}">
            Infrastructure
        </a>

        <a href="?type=Evaluation" class="header-filter-button {% if current_type == 'Evaluation' %}active{% endif %}">
            Territory Zoning
        </a>

        <a href="?type=Unofficial" class="header-filter-button {% if current_type == 'Unofficial' %}active{% endif %}">
            Unofficial
        </a>
    </div>

    <hr>
    {% for map in maps %}
        <div class="map-release">
            <h2>
                <a href="{{ map.get_absolute_url }}">Official UN Map {{ map.map_date|date:"F j, Y" }}</a>

                <button
                    class="copy-link-btn"
                    type="button"
                    title="Copy link"
                    onclick="copyLink('{{ request.scheme }}://{{ request.get_host }}{{ map.get_absolute_url }}', this)">
                    🔗
                </button>
            </h2>
            

            {% if map.description %}
                <p><em>{{ map.description }}</em></p>
            {% endif %}

            <div class="map-image-container">
                <!-- Default Map A -->
                <img 
                    id="map-image-{{ map.id }}" 
                    src="{{ map.map_a.url }}" 
                    alt="{{ map.title }}"
                >
            </div>

            <div class="variant-buttons" id="variant-group-{{ map.id }}">
                <button class="map-filter-button active"
                        onclick="switchMap({{ map.id }}, '{{ map.map_a.url }}', this)">
                    Standard
                </button>

                {% if map.map_b %}
                    <button class="map-filter-button"
                            onclick="switchMap({{ map.id }}, '{{ map.map_b.url }}', this)">
                        Black Background
                    </button>
                {% endif %}

                {% if map.map_c %}
                    <button class="map-filter-button"
                            onclick="switchMap({{ map.id }}, '{{ map.map_c.url }}', this)">
                        Filled-In
                    </button>
                {% endif %}

                {% if map.map_d %}
                    <button class="map-filter-button"
                            onclick="switchMap({{ map.id }}, '{{ map.map_d.url }}', this)">
                        Black Background, Filled-In
                    </button>
                {% endif %}

                {% if map.map_e %}
                    <button class="map-filter-button"
                            onclick="switchMap({{ map.id }}, '{{ map.map_e.url }}', this)">
                        Gif
                    </button>
                {% endif %}
            </div>
            <br>
            {% load markdown_extras %}
            <div>
                {{ map.changes|markdownify }}
            </div>
        </div>
        <hr>
    {% empty %}
        <p>No maps have been archived yet.</p>
    {% endfor %}

</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/switch_map.js' %}"></script>
<script src="{% static 'js/images.js' %}"></script>
<script src="{% static 'js/copy_link.js' %}"></script>
{% endblock %}