/* Ensure the table layout is fixed */
table {
    table-layout: fixed;       /* Enforces fixed table layout */
    width: 100%;               /* Ensure the table takes up the full width */
}

/* Remove the margin below the h2 element for item tables */
h2.items-heading {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Target the Item Name column to truncate long names */
td.item-name {
    white-space: nowrap;       /* Prevent wrapping */
    overflow: clip;          /* Hide overflowed content */
    max-width: 150px;          /* Set a maximum width for the item name column */
}

/* Styles specifically for item tables */
.item-table table {
    font-size: 1em;  /* Smaller font size for item tables */
}

.item-table thead tr, .item-table tbody tr {
    font-size: 1em;  /* Ensure that both header and body rows have a smaller font */
}

/* Styles specific to the item tables */
.item-table th:nth-child(1), /* Item Name column */
.item-table td:nth-child(1) {
    width: 46%;
}

.item-table th:nth-child(2), /* Count column */
.item-table td:nth-child(2) {
    width: 18%;
}

.item-table th:nth-child(3), /* market rate column */
.item-table td:nth-child(3) {
    width: 18%; 
}

.item-table th:nth-child(4), /* Total Value column */
.item-table td:nth-child(4) {
    width: 18%; 
}



/* Target the Item Name column to truncate long names */
td.building-name {
    white-space: nowrap;       /* Prevent wrapping */
    overflow: clip;          /* Hide overflowed content */
    max-width: 150px;          /* Set a maximum width for the item name column */
}

.building-table table {
    font-size: .9em;  /* Default font size for building tables */
}

/* Styles specific to the item tables */
.building-table th:nth-child(1), /* Item Name column */
.building-table td:nth-child(1) {
    width: 70%;
}

.building-table th:nth-child(2), /* Count column */
.building-table td:nth-child(2) {
    width: 15%;
}

.building-table th:nth-child(3), /* market rate column */
.building-table td:nth-child(3) {
    width: 15%; 
}