.item-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding: 0;
}

.item-list li {
  border: 1px solid #9e9e9e;
  border-radius: 7px;
  padding: 0px;
  padding-top: 10px;
  width: 125px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.1s;
}

.item-list li:hover {
  transform: scale(1.02);
  border-color: #2e2e2e;
}

.item-list img {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 0px;
}

.search-bar {
    margin-bottom: 20px;
    text-align: left;
}
.search-bar input {
    width: 300px;
    padding: 8px 12px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}