{% extends 'wss_base.html' %}

{% load static %}

{% block title %}
    Axeman_76
{% endblock %}

{% block content %}
        <div class="content">
            <div class="member-image">
                <img src="{% static 'images/profile_images/Axeman_76.jpg' %}" alt="Axeman_76">
                <h2>President and CEO</h2>
                <pr>bigike@werespecialstudios.com</p>
            </div>
            <div class="member-description">
                <h2>Axeman_76</h2>
                <p>
                    Axeman_76, also known as Big Guy or Big Ike, is the official leader of the We're Special group.
                    He controls most of the facets of the group including the discord, the twitch channel,
                    and the minecraft server. Ike is the quiet and grounded muscle of the group, known for his
                    surprising knack for resolving issues through destruction when necessary. His strength and 
                    stoic nature are matched by his loyalty and dependability. Big Guy is a master at editing
                    and creates compilations and videos of our various misadventures.
                </p>
                <p>
                    Background: A resident of Milwaukee, Big Ike often steps in to physically tackle challenges,
                    making him a key problem solver in the group.
                </p>
            </div>
        </div>
{% endblock %}