{% extends 'wss_base.html' %}

{% load static %}

{% block title %}
    Grum
{% endblock %}

{% block content %}
        <div class="content">
            <div class="member-image">
                <img src="{% static 'images/profile_images/Grum.jpg' %}" alt="Grum">
                <h2>Junior Vice President and COO</h2>
                <p>grum@werespecialstudios.com</p>
            </div>
            <div class="member-description">
                <h2>Grum</h2>
                <p>
                    Grum, Knoo, or Grummio is a one of a kind person who has one of a kind parents. Grum is most infamous
                    for his parents, Paul and Brenda, who have heavily contributed to WSS culture. Known
                    for being the life of the party, Grum is charismatic and sociable. His love for partying
                    is only matched by his ability to talk his way out of almost any situation. Grum is also a
                    proud Wisconsinite who shows his stuff drinking day in and out at school.
                </p>
                <p>
                    Background: Grum hails from Milwaukee and often brings levity and a sense of fun to the group,
                    despite his sometimes questionable decision-making.
                </p>
            </div>
        </div>
{% endblock %}