{% extends 'wss_base.html' %}

{% load static %}

{% block title %}
    Papo Quim
{% endblock %}

{% block content %}
        <div class="content">
            <div class="member-image">
                
                <h2>Senior Vice President and CDO</h2>
                <p>papoquim@werespecialstudios.com</p>
            </div>
            <div class="member-description">
                <h2>Papo Quim</h2>
                <p>
                    Papo Quim, also known as Papo, is one of the most beloved members of the group.
                    Papo is the analytical thinker of the group, known for their mild-mannered approach
                    and deep understanding of data and niche internet communities. They are calm but can
                    become erratic under stress. Papo is the proginator of many a meme and (now rarely)
                    streams on twitch. Make sure to send an order over to Papo to get some great art at a great price.
                </p>
                <p>
                    Background: From Milwaukee, Papo often provides strategic insights and planning,
                    helping the group navigate their adventures with their analytical skills.
                </p>
            </div>
        </div>
{% endblock %}