{% extends 'base.html' %}

{% load static %}

{% block title %}
    Ungle Nelton
{% endblock %}

{% block content %}
        <div class="content">
            <div class="member-image">
                
                <h2>Junior Vice President and CTO</h2>
                <p>unglenelton@werespecialstudios.com</p>
            </div>
            <div class="member-description">
                <h2>Ungle Nelton</h2>
                <p>
                    Ungle Nelton, also known as Cowman, is out here doing technology stuff (like this website)
                    and hosting the minecraft server. Ungle is the tech wizard of the group, always equipped
                    with the latest gadgets. He is calm, collected, and adept at finding technological solutions
                    to any problems the group encounters. Coder offical but can never finish a project.
                    Rival of Axeman_76 in sending channel of dissapointment memes.
                </p>
                <p>
                    Background: Also a resident of Milwaukee, Ungle's expertise with technology frequently
                    comes in handy during the group's escapades, ensuring they have all the tech support they need.
                </p>
            </div>
        </div>
{% endblock %}