{% extends 'records_base.html' %}More actions

{% block title %}Executive Orders{% endblock %}

{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/records_styles.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>United Nations Executive Orders</h1>
    <hr>
    
    {% with 1 as current_charter %}
        {% for executive_order in executive_orders %}
            {% if current_charter != None and current_charter != executive_order.charter %}
                <!-- Show the line between groups -->
                <h5 style="text-align: center;"><em>Ratification of a new United Nations Charter</em></h5>
                <hr>
            {% endif %}

            <div>
                <h2>Executive Order No. {{ executive_order.number }}</h2>
                <p>
                    ({{ executive_order.date|date:"n/j/Y" }}) &nbsp;&nbsp;Ordered By: {{ executive_order.ordered_by }}
                    {% if executive_order.void %}<strong>(Void, {{ executive_order.invalidation_date|date:"n/j/Y" }})</strong>{% endif %}
                    {% if executive_order.repealed %}<strong>(Repealed, {{ executive_order.invalidation_date|date:"n/j/Y" }})</strong>{% endif %}
                </p>
                {% load markdown_extras %}
                <p>
                    {{ executive_order.body|markdownify }}
                </p>
            </div>
            <hr>

            {% with executive_order.charter as current_charter %}
            {% endwith %}
        {% empty %}
            <p>No executive orders found.</p>
        {% endfor %}
    {% endwith %}
</div>
{% endblock %}

{% block extra_js %}

{% endblock %}