{% extends 'records_base.html' %}

{% load static %}  <!-- Load the static tag library -->

{% block title %}
    UN Records
{% endblock %}

{% block content %}
    <h1>Welcome to the United Nations Records</h1>
    
    <p>This website aims to replace our complex spreadsheets with a better, more efficient solution that is faster and allows us to do more stuff:</p>
    
    <ul>
        <li><a href="https://docs.google.com/document/d/10xtooDJzp5dQ9XUCccsWqtzG-gqHBvcr7gf0sgUIs-k/edit?usp=sharing" target="_blank">United Nations Official Records Document</a></li>
    </ul>


    <img src="{% static 'images/un_seal.png' %}" alt="United Nations Seal" width="400" height="auto">
{% endblock %}
