<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/un_seal.png' %}" type="image/png">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li class="menu-logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/un_seal.png' %}" alt="UN Seal">
                        </a>
                    </li>
                    <li class="dropdown" id="evaluations-dropdown">
                        <a href="{% url 'home' %}">Home</a>
                        <div class="dropdown-content two-columns">
                            <div class="column">
                                <strong>Homes</strong>
                                <a href="{% url 'financial_home' %}">UN Financial Home</a>
                                <a href="{% url 'records_home' %}">UN Records Home</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="{% url 'charter' %}">UN Charter</a></li>
                    <li><a href="{% url 'resolutions' %}">Resolutions</a></li>
                    <li><a href="{% url 'treaties' %}">Treaties</a></li>
                    <li><a href="{% url 'executive_orders' %}">Executive Orders</a></li>
                    <li><a href="{% url 'court_cases' %}">Court Cases</a></li>
                    <li class="dropdown" id="evaluations-dropdown">
                        <a>Miscellaneous Records</a>
                        <div class="dropdown-content two-columns">
                            <div class="column">
                                <strong>Misc. Records</strong>
                                <a href="{% url 'alliances' %}">Alliances</a>
                                <a href="{% url 'declaration_of_wars' %}">Declarations of War</a>
                                <a href="{% url 'national_constitution' %}">National Constitutions</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="pinstripe pinstripe-top pinstripe-records"></div>

        <main>
            {% block content %}
            <!-- This block will be filled by other templates that extend records_base.html -->
            {% endblock %}
        </main>

        <div class="pinstripe pinstripe-bottom pinstripe-records"></div>
        <footer>
            <p>&copy; United Nation Bureau of Records, 2025</p>
        </footer>
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>
