{% extends 'records_base.html' %}

{% block title %}Resolutions{% endblock %}

{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/records_styles.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>United Nations Resolutions</h1>
    <hr>
    {% for resolution in resolutions %}
    <div class="resolution">
        <h2>{{ resolution.title }}</h2>
        <p class="resolution-meta">
            ({{ resolution.date|date:"n/j/Y" }}) [{{ resolution.votes_for }}-{{ resolution.votes_against }}] &nbsp;&nbsp;Proposed By: {{ resolution.proposed_by }}
            {% if resolution.void %}<strong>(Void)</strong>{% endif %}
            {% if resolution.repealed %}<strong>(Repealed)</strong>{% endif %}
        </p>
        {% load markdown_extras %}
        <p class="resolution-body">
            {{ resolution.body|markdownify }}
        </p>
    </div>
    <hr>
    {% empty %}
    <p>No resolutions found.</p>
    {% endfor %}
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}