{% extends 'base.html' %}

{% load static %}

{% block title %}
    Old Man Reid
{% endblock %}

{% block content %}
        <div class="content">
            <div class="member-image">
                
                <h2>Senior Vice President, CFO and Community Outreach Director</h2>
                <p>oldmanreid@werespecialstudios.com</p>
            </div>
            <div class="member-description">
                <h2>Old Man Reid</h2>
                <p>
                    Known as OMR, Old Man Reid, or Dmitri. He is eccentric, a workaholic, and a bit of a cheapskate.
                    Despite his sometimes gruff exterior, he is strategic, dependable, and has a knack for
                    bending luck in his favor. OMR is the backbone of the We're Special group. He is by far
                    the most "special" member of the group and continues to astound us day by day.
                </p>
                <p>
                    Background: Based in Milwaukee, OMR often serves as the leader of the group, 
                    initiating their adventures and driving the action with his energetic personality.
                </p>
            </div>
        </div>
{% endblock %}