:root {
    --text: #0d0b07;
    --background: #eedab9;
    --primary: #5fa8e0;
    --secondary: #94e8bc;
    --accent: #94aca4;
}

html[data-theme="light"]{
    --text: #0d0b07;
    --background: #eedab9;
    --primary: #5fa8e0;
    --secondary: #94e8bc;
    --accent: #94aca4;
    min-height: 100%;
}

html[data-theme="dark"] {
    --text: #f8f6f2;
    --background: #2f2c29;
    --primary: #1e679f;
    --secondary: #16693e;
    --accent: #526b62;
    min-height: 100%;
}

.links a:link {
    color: var(--primary);
}

.links a:visited {
    color: var(--primary);
}