@font-face {
    font-family: "Minecraft";
    src: url('/static/fonts/MinecraftRegular-Bmg3.otf') format('opentype');
}

html {
    background: #879aa3;
    font-family: "Minecraft";
}

body {
    font-family: "Minecraft";
    height: 100%;
    overflow: hidden;
}

.content {
    position: absolute;
}

.inventory {
    position: relative;
}

.inventory-background {
    width: 500px;
}

.playername {
    position: absolute;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    top: 20px;
    left: 235px;
    font-size: 24px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.player-info {
    position: absolute;
    color: white;
    top: 0px;
    left: 520px;
    width: 400px;
    font-size: 18px;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.info-box {
    width: 500px;
}

.location {
    position: absolute;
    top: 12px;
    left: 24px;
    margin: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.lastdeath {
    position: absolute;
    margin: 0;
    left: 24px;
    top: 70px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.inv-slots {
    position: absolute;
    top: 235px;
    left: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* Assuming 9x3 inventory grid */
    width: 460px;
    height: 154px;
    /*background-image: url('/images/inventory-upscaled.png');*/
    /*background-size: contain;*/
}

.hotbar-slots {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    top: 400px;
    left: 20px;
    width: 460px;
    height: 50px;
}

.offhand-slot {
    position: absolute;
    display: grid;
    width: 50px;
    height: 50px;
    top: 175px;
    left: 225px;
}

.armor-slots {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 50px;
    height: 203px;
    top: 20px;
    left: 20px;
}

.enderchest {
    position: relative;
    top: -476px;
    left: 520px;
    width: 500px;
}

.echest-background {
    width: 500px;
}

.echest-slots {
    position: absolute;
    top: 51px;
    left: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* Assuming 9x3 inventory grid */
    width: 460px;
    height: 154px;
}

.shulker {
    position: relative;
    top: -458px;
    left: 520px;
    width: 500px;
    visibility: hidden;
}

.shulker-name {
    color: #3F3F3F;
    position: absolute;
    top: -15px;
    left: 23px;
    font-size: 28px;
}

.shulker-background {
    width: 500px;
}

.shulker-slots {
    position: absolute;
    top: 51px;
    left: 20px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: 460px;
    height: 154px;
}

.item {
    position: relative;
    margin: 5px
}

.item img {
    position: absolute;
    max-width: 100%;
    width: 40px;
    height: 40px;
}

.quantity {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    cursor: default;
}

.player {
    position: absolute;
    top: 23px;
    left: 74px;
}

.tooltip {
    position: absolute;
    padding: 4px;
    margin: 0;
    font-size: 16px;
    width: max-content;
    color: white;
    border: 2px solid #1b0c1b;
    border-radius: 4px;
    background: #1b0c1b;
    z-index: 4;
    box-shadow: inset 0 0 0 2px #2C0863;
}

.tooltip .name {
    padding: 0;
    margin: 0;
    font-size: 20px;
    white-space: nowrap;;
}

.tooltip .enchants {
    padding: 0;
    margin: 0;
}

.tooltip .preview {
    padding: 0;
    margin: 0;
    color: #A8A8A8;
}

.prioritySelector {
    width: 500px;
}

.selector {
    width: 500px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img {
    cursor: pointer;
    image-rendering: pixelated;
}

[type=radio]:checked + img {
    outline: 1px solid #000;
    image-rendering: pixelated;
}

[type=radio]:not(:checked) + img {
    outline: 1px solid #fff;
    image-rendering: pixelated;
}

.health {
    position: absolute;
    top: 173px;
    left: 300px;
    visibility: hidden;
}

.health img {
    position: absolute;
}

.hearts-empty {
    z-index: 1;
    width: 162px;
    height: 18px;
}

.hearts-full {
    z-index: 2;
    width: 162px;
    height: 18px;
    overflow: hidden;
    object-fit: none;
    clip-path: inset(0 0% 0 0);
}