:root {
    --text: #0d0b07;
    --background: #eedab9;
    --primary: #5fa8e0;
    --secondary: #94e8bc;
    --accent: #94aca4;
}

html[data-theme="light"]{
    --text: #0d0b07;
    --background: #eedab9;
    --primary: #5fa8e0;
    --secondary: #94e8bc;
    --accent: #94aca4;
    min-height: 100%;
}

html[data-theme="dark"] {
    --text: #f8f6f2;
    --background: #2f2c29;
    --primary: #1e679f;
    --secondary: #16693e;
    --accent: #526b62;
    min-height: 100%;
}

body {
    margin: 0;
    margin-top: 75px;
    padding: 0;
    font-family: "Tahoma", sans-serif;
    overflow: auto;
    background: var(--background);
    transition: all ease-in-out .5s;
}

main {
    color: var(--text);
    transition: all ease-in-out .5s;
}

.content {
    margin-left: 20px;
    margin-right: calc(1/4 * 100vw);
    margin-bottom: 50px;
}

.member-image {
    width: 300px;
    height: fit-content;
    text-align: center;
}

.member-image img {
    width: 300px;
}

.member-description {
    position: absolute;
    top: 60px;
    left: 320px;
    margin-left: 20px;
    margin-right: calc(calc(1/4 * 100vw) - 300px);
    margin-bottom: inherit;
}

.member h4 {
    margin-left: 40px;
}

.member p {
    margin-left: 40px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center p {
    max-width: calc(2/3 * 100vw);
    margin: 0px 30px 30px 30px;
    font-size: 48px;
    white-space: normal;
    text-align: center;
}

.center p#h2 {
    padding-top: 30px;
    font-size: 28px;
    font-weight: bold;
}

#video td {
    vertical-align: top;
}

/* Theme Toggle Bar CSS */
.mode-bar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--primary);
    padding: 10px;
    display: inline-flex;
    border-bottom: 2px solid var(--accent);
    border-left: 2px solid var(--accent);
    border-radius: 0 0 0 15px;
    flex-grow: 1;
    color: var(--primary);
    z-index: 5;
}

.directory-bar label {
    margin-left: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana, sans-serif;
}

.theme-toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.theme-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent);
    border-radius: 24px;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.theme-slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--background);
    border-radius: 20px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .theme-slider {
    background-color: var(--accent);
}

input:focus + .theme-slider {
    box-shadow: 0 0 1px var(--accent);
}

input:checked + .theme-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Directory CSS */

.directory-bar {
    position: fixed;
    top: 0;
    background-color: var(--primary);
    padding: 10px;
    display: inline-flex;
    border-bottom: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    border-radius: 0 0 15px 0;
    flex-grow: 1;
    color: var(--primary);
    z-index: 5;
    transition: all ease-in-out .5s;
}

.directory-bar a {
    margin-right: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana, sans-serif;
    color: var(--text);
    transition: all ease-in-out .5s;
}

/* Dropdown CSS */

.dropdown {
    position: relative;
    display: block;
    flex-direction: column;
    transition: all ease-in-out .5s;
}

.dropdown-button {
    background-color: var(--primary);
    padding: 0px;
    margin-right: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    font-family: Verdana, sans-serif;
    color: var(--text);
    border: none;
    transition: all ease-in-out .5s;
}

.span {
    width: inherit;
    position: absolute;
    display: block;
    background-color: var(--primary);
    left: 0;
    right: 0;
    top: -10px;
    height: 10px;
    cursor: pointer;
    transition: all ease-in-out .5s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary);
    border-left: 2px solid var(--accent);
    border-bottom: 2px solid var(--accent);
    border-right: 2px solid var(--accent);
    border-radius: 0 0 15px 15px;
    margin-top: 10px;
    left: -20px;
    transition: all ease-in-out .5s;
}

.dropdown-content a {
    color: var(--text);
    padding: 12px 24px 12px 20px;
    margin-right: 0px;
    text-decoration: none;
    display: block;
    transition: all ease-in-out .5s;
}

.dropdown:hover .dropdown-content, .span:hover .dropdown-content, .dropdown-content:hover {
    display: block;
}

/* Socials Bar CSS */

.social-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    border-top-right-radius: 15px;
    background-color: var(--accent);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    padding-left: 0px;
    border-top: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
    transition: all ease-in-out .5s;
}

.social-bar img {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    margin: 0 5px;
}
