<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/un_seal.png' %}" type="image/png">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <button class="hamburger" id="hamburger-btn" aria-label="Menu"> ☰</button>
                <ul id="nav-links">
                    <li class="menu-logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/un_seal.png' %}" alt="UN Seal">
                        </a>
                    </li>
                    <li class="dropdown" id="evaluations-dropdown">
                        <a href="{% url 'home' %}">Home</a>
                        <div class="dropdown-content two-columns">
                            <div class="column">
                                <strong>Homes</strong>
                                <a href="{% url 'financial_home' %}">UN Financial Home</a>
                                <a href="{% url 'records_home' %}">UN Records Home</a>
                                <a href="{% url 'cartography_home' %}">UN Cartography Commission</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="{% url 'financial_home' %}">UN Financial Records</a></li>
                    <li><a href="{% url 'records_home' %}">UN Records</a></li>
                    <li><a href="{% url 'cartography_home' %}">UN Cartography Commission</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}
            <!-- This block will be filled by other templates that extend base.html -->
            {% endblock %}
        </main>

        <footer>
            <p>&copy; United Nation Bureau of Records, 2025</p>
        </footer>
    </div>
    {% block extra_js %}{% endblock %}

    <script>
    document.getElementById('hamburger-btn').addEventListener('click', function() {
        document.getElementById('nav-links').classList.toggle('show');
    });
    </script>
</body>
</html>
