{% extends 'base.html' %}

{% block title %}
    Building List
{% endblock %}

{% block content %}
    <h1>United Nations Records: Building List</h1>
    
    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Territory</th>
                <th>Owner</th>
                <th>Main Builder</th>
                <th>Year Completed</th>
                <th>Completed</th>
                <th>Height</th>
                <th>Coordinates</th>
                <th>Historic Site</th>
                <th>Architectural Genius</th>
                <th>MoPQ Award</th>
                <th>Architectural Style</th>
            </tr>
        </thead>
        <tbody>
            {% if buildings %}
                {% for building in buildings %}
                <tr>
                    <td class="right-align">{{ building.rank }}</td>
                    <td>{{ building.name }}</td>
                    <td>{{ building.territory.name }}</td>
                    <td>{{ building.owner.abbreviation }}</td>
                    <td>
                        {% for builder in building.main_builders.all %}
                            {{ builder.username }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td class="right-align">{{ building.year_started }}</td>
                    <td>
                        {% if building.completed %}
                            <!-- Leave blank if true -->
                        {% else %}
                            False
                        {% endif %}
                    </td>
                    <td class="right-align">{{ building.height }}</td>
                    <td>{{ building.coordinates }}</td>
                    <td>
                        {% if building.historic_site %}
                            Inducted
                        {% else %}
                            <!-- Leave blank if null -->
                        {% endif %}
                    </td>
                    <td>
                        {% if building.architectural_genius %}
                            Inducted
                        {% else %}
                            <!-- Leave blank if null -->
                        {% endif %}
                    </td>
                    <td>
                        {% if building.mopq_award %}
                            {{ building.mopq_award }}
                        {% else %}
                            <!-- Leave blank if null -->
                        {% endif %}
                    </td>
                    <td>
                        {% if building.architectural_style %}
                            {{ building.architectural_style }}
                        {% else %}
                            <!-- Leave blank if null -->
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="12">No data available.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}
