<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% load static %}
    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/un_seal.png' %}" type="image/png">
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>
            <nav>
                <ul>
                    <li class="menu-logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'images/un_seal.png' %}" alt="UN Seal">
                        </a>
                    </li>
                    <li class="dropdown" id="evaluations-dropdown">
                        <a href="{% url 'home' %}">Home</a>
                        <div class="dropdown-content two-columns">
                            <div class="column">
                                <strong>Homes</strong>
                                <a href="{% url 'financial_home' %}">UN Financial Home</a>
                                <a href="{% url 'records_home' %}">UN Records Home</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown" id="evaluations-dropdown">
                        <a href="{% url 'building_list' %}" class="dropbtn">Buildings</a>
                        <div class="dropdown-content two-columns">
                            <div class="column">
                                <strong>Audit Tools</strong>
                                <a href="{% url 'building_list' %}">Buildings</a>
                                <a href="{% url 'general_building_info' %}">General Building Info</a>
                                <a href="{% url 'general_territory_info' %}">General Territory Info</a>
                            </div>
                        </div>
                    </li>
                    <li><a href="{% url 'player_list' %}">Players</a></li>
                    <!-- Dropdown for Nations -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Balance Sheets</a>
                        <div class="dropdown-content two-columns">
                            <!-- Nations list -->
                            <div class="column">
                                <strong>Nations</strong>
                                {% for nation in nations %}
                                    <a href="{% url 'nation_balance_sheet' nation.abbreviation %}">{{ nation.name }}</a>
                                {% endfor %}
                            </div>
                    
                            <!-- Companies list -->
                            <div class="column">
                                <strong>Companies</strong>
                                {% for company in companies %}
                                    <a href="{% url 'company_balance_sheet' company.abbreviation %}">{{ company.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                    <li><a href="{% url 'un_map' %}">Interactive Map</a></li>
                    <li class="dropdown" id="evaluations-dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Tools</a>
                        <div class="dropdown-content two-columns">
                            <div class="column">
                                <strong>Tools</strong>
                                <a href="{% url 'currency_converter' %}">Currency Converter</a>
                                <a href="{% url 'evaluate_buildings' %}">Evaluate Buildings</a>
                                <a href="{% url 'evaluate_items' %}">Evaluate Items</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown" id="evaluations-dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Audit Tools</a>
                        <div class="dropdown-content two-columns">
                            <div class="column">
                                <strong>Audit Tools</strong>
                                <a href="{% url 'input_building' %}">Input Building</a>
                                <a href="{% url 'item_counter' %}">Item Counter</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="pinstripe pinstripe-top pinstripe-financial"></div>

        <main>
            {% block content %}
            <!-- This block will be filled by other templates that extend financial_base.html -->
            {% endblock %}
        </main>

        <div class="pinstripe pinstripe-bottom pinstripe-financial"></div>
        <footer>
            <p>&copy; United Nation Bureau of Records, 2025</p>
        </footer>
    </div>
    {% block extra_js %}{% endblock %}

</body>
</html>
