{% extends 'financial_base.html' %}

{% load static %}  <!-- Load the static tag library -->

{% block title %}
    UN Financial Records
{% endblock %}

{% block content %}
    <h1>Welcome to the United Nations Finantial Records</h1>
    
    <p>This website aims to replace our complex spreadsheets with a better, more efficient solution that is faster and allows us to do more stuff:</p>
    
    <ul>
        <li><a href="https://docs.google.com/spreadsheets/d/1JdZUSav9DEh1bBfTcVBIFID3sLobqyq5nqLV7MwNyWo/edit?usp=sharing" target="_blank">United Nations Finance Spreadsheet</a></li>
        <li><a href="https://docs.google.com/spreadsheets/d/1UHE3NIoL8Cl78Vgs8Dlx_xnMDgdPvZiRhjuruxc6oF8/edit?usp=sharing" target="_blank">United Nations Building Index</a></li>
    </ul>


    <img src="{% static 'images/un_seal.png' %}" alt="United Nations Seal" width="400" height="auto">
{% endblock %}
