<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <style>
        body {
            text-align: center; /* This will center the text */
        }
        img {
            display: block;
            margin: 0 auto; /* This will center the image */
        }
    </style>
</head>
<body>
    <h1>Welcome to the United Nations Records</h1>
    <ul>
        <li><a href="{% url 'building_list' %}">View Buildings</a></li>
        <li><a href="{% url 'player_list' %}">View Players</a></li>

        <img src="{% static 'images/un_seal.png' %}" alt="United Nations Seal" width="400" height="auto">
    </ul>
</body>
</html>
