{% extends 'base.html' %}

{% block title %}
    {{ nation.abbreviation }} Balance Sheet
{% endblock %}

{% block content %}
    <h1>Buildings for {{ nation.name }} ({{ nation.abbreviation }})</h1>

    <div style="display: flex; justify-content: space-between;">
        <!-- Fully Owned Buildings -->
        <div style="width: 49.5%;">
            <h2>Owned Buildings</h2>
            <table>
                <thead>
                    <tr>
                        <th>Building Name</th>
                        <th>Ownership</th>
                        <th>Market Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in buildings %}
                        <tr>
                            <td>{{ building.name }}</td>
                            <td>{{ building.adjusted_ownership }}%</td>
                            <td>{{ building.adjusted_ownership_price|stringformat:"g" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Partially Owned Buildings -->
        <div style="width: 49.5%;">
            <h2>Partially Owned Buildings</h2>
            <table>
                <thead>
                    <tr>
                        <th>Building Name</th>
                        <th>Ownership</th>
                        <th>Market Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in partial_buildings %}
                        {% for ownership in building.partialbuildingownership_set.all %}
                            <tr>
                                <td>{{ building.name }}</td>
                                <td>{{ ownership.percentage }}%</td>
                                <td>{{ ownership.partial_ownership_price|stringformat:"g" }}</td>
                            </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
