{% extends 'base.html' %}

{% block title %}
    {{ nation.abbreviation }} Balance Sheet
{% endblock %}

{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/balance_sheet_styles.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ nation.name }} ({{ nation.abbreviation }}) Balance Sheet</h1>

    <h2 class="liquid-heading">Liquid Assets</h2>

    <table class="liquid-table">
        <thead>
            <tr style="font-size: .95em;">
                <th>Asset Name</th>
                <th>Total in Diamonds</th>
                {% for denomination in denominations %}
                    <th>{{ denomination.name }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody style="font-size: .95em;">
            {% for asset_data in liquid_asset_data %}
            <tr style="font-size: .95em;">
                <td>{{ asset_data.container_name }}</td>
                <td class="right-align">{{ asset_data.total_in_diamonds|custom_decimal_places }}</td>
                {% for count in asset_data.counts %}
                    <td class="right-align">{{ count|stringformat:"g" }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="total-value-sum">
        <h3>Total Value of All Liquid Assets: {{ nation.total_liquid_asset_value|custom_decimal_places }}</h3>
        <h3 style="margin-top: 1rem; border-top: 1px solid #ccc; padding-top: 1rem;"></h3>
    </div>

    <h2 class="items-heading">Owned Items</h2>
    
    <!-- Display Item Information in three Tables Side by Side -->
    <div class="item-table-container">
        {% for items_part in items_parts %}
            <div class="item-table">
                <table>
                    <thead>
                        <tr style="font-size: 0.9em;">
                            <th>Item Type</th>
                            <th>Total Value</th>
                            <th>Market Value</th>
                            <th>Number Owned</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 0.9em;">
                        {% for item in items_part %}
                            {% if 'Section Divider' in item.name %}
                                <tr>
                                    <td colspan="4" style="background-color: transparent;">&nbsp;</td>
                                </tr>
                            {% else %}
                                <tr style="font-size: 0.9em;">
                                    <td class="item-name">{{ item.name }} {{ item.new_ordering }}</td>
                                    <td class="right-align">{{ item.total_value|custom_decimal_places }}</td>
                                    <td class="right-align">{{ item.market_value|custom_decimal_places }}</td>
                                    <td class="right-align">{{ item.count|stringformat:"g" }}</td>
                                </tr>
                            {% endif %}
                        {% empty %}
                            <tr>
                                <td colspan="4">No items found.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
        
        <!-- Add a row to display the sum of total values -->
        <div class="total-value-sum">
            <h3>Total Value of All Items: {{ nation.total_item_asset_value|custom_decimal_places }}</h3>
        </div>
    </div>


    <h2 style="margin-top: 1rem; border-top: 1px solid #ccc; padding-top: 1rem;">
        Total Assets Sum</h2>
    <table class="total-assets-sum-table">
        <thead>
            <tr style="font-size: 0.9em;">
                <th>Asset Category</th>
                <th>Value Equivalent</th>
            </tr>
        </thead>
        <tbody style="font-size: .95em;">
            <tr">
                <td>Total Liquid Assets:</td>
                <td class="right-align">{{ nation.total_liquid_asset_value|custom_decimal_places }}</td>
            </tr>
            <tr>
                <td>Total Item Values:</td>
                <td class="right-align">{{ nation.total_item_asset_value|custom_decimal_places }}</td>
            </tr>
            <tr>
                <td>Total Building Values:</td>
                <td class="right-align">{{ nation.total_building_asset_value|custom_decimal_places }}</td>
            </tr>
            <tr>
                <td>Total Receivables:</td>
                <td class="right-align">{{ total_receivables|custom_decimal_places }}</td>
            </tr>
            <tr>
                <td>Total Remaining Liabilities:</td>
                <td class="right-align">{% if total_remaining_liabilities != 0 %}-{% endif %}{{ total_remaining_liabilities|custom_decimal_places }}</td>
            </tr>
            <tr style="border-top: 3px solid; font-weight: bold;">
                <td>Total Assets:</td>
                <td class="right-align">{{ total_assets|custom_decimal_places }}</td>
            </tr>
        </tbody>
    </table>


    <h3 style="margin-top: 1rem; border-top: 1px solid #ccc; padding-top: 1rem;"></h3>
    <h2>Receivables</h2>
    <div class="liability-section">
        <table class="liability-table">
            <thead>
                <tr style="font-size: 0.95em;">
                    <th>Debtor</th>
                    <th>Description</th>
                    <th>Remaining</th>
                </tr>
            </thead>
            <tbody>
                {% for receivable in receivables %}
                    <tr style="font-size: 0.95em;">
                        <td>{{ receivable.debtor_name }}</td>
                        <td class="description">{{ receivable.description }}</td>
                        <td class="right-align">{{ receivable.remaining_diamond_value|custom_decimal_places }}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="6">No receivables found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Total Receivables -->
    <div class="total-value-sum" style="display: flex; gap: 2rem; justify-content: flex-start;">
        <h3>Total Receivables: {{ total_receivables|custom_decimal_places }}</h3>
    </div>



    <h3 style="margin-top: 1rem; border-top: 1px solid #ccc; padding-top: 1rem;"></h3>
    <div class="building-table" style="display: flex; justify-content: space-between;">
        <!-- Fully Owned Buildings -->
        <div style="width: 49.5%;">
            <h2>Owned Buildings</h2>
            <table>
                <thead>
                    <tr style="font-size: 0.95em;">
                        <th>Building Name</th>
                        <th>Ownership</th>
                        <th>Market Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in buildings %}
                        <tr style="font-size: 0.95em;">
                            <td class="building-name">{{ building.name }}</td>
                            <td>{{ building.ownership_minus_partial }}%</td>
                            <td>{{ building.price_minus_partial|custom_decimal_places }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Partially Owned Buildings -->
        <div class="building-table" style="width: 49.5%;">
            <h2>Partially Owned Buildings</h2>
            <table>
                <thead>
                    <tr style="font-size: 0.95em;">
                        <th>Building Name</th>
                        <th>Ownership</th>
                        <th>Market Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in partial_buildings %}
                        <tr style="font-size: 0.95em;">
                            <td class="building-name">{{ building.name }}</td>
                            <td>{{ building.ownership }}%</td>
                            <td>{{ building.partial_price|custom_decimal_places }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No partially owned buildings found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="total-value-sum">
        <h3>Total Value of All Buildings: {{ nation.total_building_asset_value|custom_decimal_places }}</h3>
        <h3 style="margin-top: 1rem; border-top: 1px solid #ccc; padding-top: 1rem;" ></h3>
    </div>

    

    <h2>Liabilities</h2>
    <div class="liability-section">
        <table class="liability-table">
            <colgroup>
                <col style="width: 10%">  <!-- Type -->
                <col style="width: 10%">  <!-- Creditor -->
                <col style="width: 40%">  <!-- Description -->
                <col style="width: 10%">  <!-- Total Value -->
                <col style="width: 10%">  <!-- Paid Amount -->
                <col style="width: 10%">  <!-- Remaining -->
            </colgroup>
            <thead>
                <tr style="font-size: 0.95em;">
                    <th>Type</th>
                    <th>Creditor</th>
                    <th>Description</th>
                    <th>Total Value</th>
                    <th>Paid Amount</th>
                    <th>Remaining</th>
                </tr>
            </thead>
            <tbody>
                {% for liability in liabilities %}
                    <tr style="font-size: 0.95em;">
                        <td>{{ liability.get_liability_type_display }}</td>
                        <td>{{ liability.creditor_abbreviation }}</td>
                        <td class="description">{{ liability.description }}</td>
                        <td class="right-align">{{ liability.total_diamond_value|custom_decimal_places }}</td>
                        <td class="right-align">{{ liability.total_diamond_value|subtract:liability.remaining_diamond_value|custom_decimal_places }}</td>
                        <td class="right-align">{{ liability.remaining_diamond_value|custom_decimal_places }}</td>
                    </tr>
                {% empty %}
                    <tr><td colspan="6">No liabilities found.</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Total Liabilities -->
    <div class="total-value-sum" style="display: flex; gap: 2rem; justify-content: flex-start;">
        <h3>Total Liabilities: {{ total_liabilities|custom_decimal_places }}</h3>
        <h3>Total Remaining Liabilities: {{ total_remaining_liabilities|custom_decimal_places }}</h3>
    </div>
{% endblock %}
