{% extends 'base.html' %}

{% block title %}
    {{ nation.abbreviation }} Balance Sheet
{% endblock %}

{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/balance_sheet_styles.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ nation.name }} ({{ nation.abbreviation }}) Balance Sheet</h1>

    <h2 class="items-heading">Items for {{ nation.name }}</h2>
    <!-- Display Item Information in three Tables Side by Side -->
    <div class="item-table" style="display: flex; justify-content: space-between;">
        <!-- Table 1 -->
        <div style="width: 24.9%;">
            <table>
                <thead>
                    <tr style="font-size: 0.9em;">
                        <th>Item Name</th>
                        <th>Market Value</th>
                        <th>Item Count</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody style="font-size: 0.9em;">
                    {% for item in items_part1 %}
                        <tr style="font-size: 0.9em;">
                            <td class="item-name"> {{ item.name }} {{ item.new_ordering }}</td>
                            <td>{{ item.market_price|custom_decimal_places }}</td>
                            <td>{{ item.count|stringformat:"g" }}</td>
                            <td>{{ item.total_value|custom_decimal_places }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No items found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Table 2 -->
        <div class="item-table" style="width: 24.9%;">
            <table>
                <thead>
                    <tr style="font-size: 0.9em;">
                        <th>Item Name</th>
                        <th>Market Value</th>
                        <th>Item Count</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody style="font-size: 0.9em;">
                    {% for item in items_part2 %}
                        <tr style="font-size: 0.9em;">
                            <td class="item-name">{{ item.name }} {{ item.new_ordering }}</td>
                            <td>{{ item.market_price|custom_decimal_places }}</td>
                            <td>{{ item.count|stringformat:"g" }}</td>
                            <td>{{ item.total_value|custom_decimal_places }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No items found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Table 3 -->
        <div class="item-table" style="width: 24.9%;">
            <table>
                <thead>
                    <tr style="font-size: 0.9em;">
                        <th>Item Name</th>
                        <th>Market Value</th>
                        <th>Item Count</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody style="font-size: 0.9em;">
                    {% for item in items_part3 %}
                        <tr style="font-size: 0.9em;">
                            <td class="item-name">{{ item.name }} {{ item.new_ordering }}</td>
                            <td>{{ item.market_price|custom_decimal_places }}</td>
                            <td>{{ item.count|stringformat:"g" }}</td>
                            <td>{{ item.total_value|custom_decimal_places }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No items found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>


        <!-- Table 4 -->
        <div class="item-table" style="width: 24.9%;">
            <table>
                <thead>
                    <tr style="font-size: 0.9em;">
                        <th>Item Name</th>
                        <th>Market Value</th>
                        <th>Item Count</th>
                        <th>Total Value</th>
                    </tr>
                </thead>
                <tbody style="font-size: 0.9em;">
                    {% for item in items_part4 %}
                        <tr style="font-size: 0.9em;">
                            <td class="item-name">{{ item.name }} {{ item.new_ordering }}</td>
                            <td>{{ item.market_price|custom_decimal_places }}</td>
                            <td>{{ item.count|stringformat:"g" }}</td>
                            <td>{{ item.total_value|custom_decimal_places }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4">No items found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="building-table" style="display: flex; justify-content: space-between;">
        <!-- Fully Owned Buildings -->
        <div style="width: 49.5%;">
            <h2>Owned Buildings</h2>
            <table>
                <thead>
                    <tr>
                        <th>Building Name</th>
                        <th>Ownership</th>
                        <th>Market Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in buildings %}
                        <tr>
                            <td class="building-name">{{ building.name }}</td>
                            <td>{{ building.adjusted_ownership }}%</td>
                            <td>{{ building.adjusted_ownership_price|custom_decimal_places }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Partially Owned Buildings -->
        <div class="building-table" style="width: 49.5%;">
            <h2>Partially Owned Buildings</h2>
            <table>
                <thead>
                    <tr>
                        <th>Building Name</th>
                        <th>Ownership</th>
                        <th>Market Value</th>
                    </tr>
                </thead>
                <tbody>
                    {% for building in partial_buildings %}
                        <tr>
                            <td class="building-name">{{ building.name }}</td>
                            <td>{{ building.ownership }}%</td>
                            <td>{{ building.adjusted_ownership_price|custom_decimal_places }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No partially owned buildings found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
