{% extends 'base.html' %}

{% block title %}
    Interactive Map
{% endblock %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 600px;
            width: 100%;
            position: relative;
            z-index: 1; /* Set a low z-index for the map */
        }

        /* Ensure the dropdown content appears above the map */
        .dropdown-content {
            position: absolute;
            z-index: 10; /* Higher z-index to appear above the map */
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Interactive Map</h1>
    <div id="map"></div>
{% endblock %}

{% block extra_js %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{% static 'js/map.js' %}"></script> <!-- External JavaScript file for map logic -->
{% endblock %}
